---
import type { InferGetStaticPropsType } from "astro"
import { getCollection } from "astro:content"

import MainLayout from "@/layouts/MainLayout.astro"
import { Container } from "@/components/Container"
import PostHeroImage from "@/components/Post/PostHeroImage.astro"
import {
  TwitterIconRound,
  LinkedInIconRound,
  FacebookIconRound,
  RedditIconRound,
  MailIconRound,
  CalendarIcon,
  EditIcon,
  TimeIcon,
} from "@/components/Icons"
import Time from "@/components/Time"
import { Comments } from "@/components/Comments"

export async function getStaticPaths() {
  const posts = await getCollection("blog", (post) => !post.data.draft)

  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { entry } = Astro.props as Props
const { Content, remarkPluginFrontmatter } = await entry.render()

const postFullUrl = `https://nvd.codes/post/${entry.slug}`
const socialLinkTitle = `Nick Van Dyck: ${entry.data.title}`
const editUrl = `https://github.com/vandycknick/nvd.codes/edit/main/src/content/blog/${entry.id}`
const readingTime = remarkPluginFrontmatter.readingTime

const coverImage = entry.data.cover
---

<MainLayout
  title={entry.data.title}
  description={entry.data.description}
  openGraph={{
    basic: {
      type: "article",
      title: entry.data.title,
      image: `https://nvd.codes${coverImage.src}`,
      url: postFullUrl,
    },
    article: {
      publishedTime: entry.data.date.toISOString(),
      tags: entry.data.categories,
      authors: ["Nick Van Dyck"],
    },
  }}
  twitter={{
    card: "summary",
    creator: "@vandycknick",
    image: `https://nvd.codes${coverImage.src}`,
  }}
  extend={{
    meta: [
      {
        name: "twitter:label1",
        content: "Written by",
      },
      {
        name: "twitter:data1",
        content: "Nick Van Dyck",
      },
      {
        name: "twitter:label2",
        content: "Filed under",
      },
      {
        name: "twitter:data2",
        content: entry.data.categories.join(", "),
      },
    ],
  }}
>
  <Container className="mt-16 lg:mt-32" data-pagefind-body>
    <div class="xl:relative">
      <div class="mx-auto max-w-4xl">
        <PostHeroImage image={entry.data.cover} />
        <article>
          <header class="flex flex-col items-center">
            <h1
              class="mt-6 text-4xl text-center font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
            >
              {entry.data.title}
            </h1>
            <div class="flex pt-6">
              <div class="flex justify-center items-center">
                <CalendarIcon
                  className="w-5 h-5 mr-1 font-medium text-zinc-600 dark:text-zinc-50"
                />
                <Time
                  className="font-medium text-zinc-600 dark:text-zinc-50"
                  dateTime={entry.data.date}
                />
              </div>
              <div class="flex justify-center items-center px-4">
                <EditIcon
                  className="w-5 h-5 mr-1 font-medium text-zinc-600 dark:text-zinc-50"
                />
                <a
                  class="font-medium text-zinc-600 dark:text-zinc-50"
                  href={editUrl}
                >
                  suggest edit
                </a>
              </div>
              <div class="flex justify-center items-center">
                <TimeIcon
                  className="w-5 h-5 mr-1 font-medium text-zinc-600 dark:text-zinc-50"
                />
                <span class="font-medium text-zinc-600 dark:text-zinc-50"
                  >{readingTime}</span
                >
              </div>
            </div>
          </header>
          <div class="mt-8 prose dark:prose-invert">
            <Content />
            <div class="flex flex-col items-center">
              <div class="flex">
                <a
                  href={`https://twitter.com/share?url=${postFullUrl}&text=${socialLinkTitle}`}
                  class="bg-zinc-600 p-2 rounded-full flex justify-center items-center mx-2"
                >
                  <TwitterIconRound className="h-4 w-4 fill-zinc-50" />
                </a>
                <a
                  href={`https://www.linkedin.com/shareArticle?mini=true&url=${postFullUrl}`}
                  class="bg-zinc-600 p-2 rounded-full flex justify-center items-center mx-2"
                >
                  <LinkedInIconRound className="h-4 w-4 fill-zinc-50" />
                </a>
                <a
                  href={`https://www.facebook.com/sharer/sharer.php?u=${postFullUrl}`}
                  class="bg-zinc-600 p-2 rounded-full flex justify-center items-center mx-2"
                >
                  <FacebookIconRound className="h-4 w-4 fill-zinc-50" />
                </a>
                <a
                  href={`https://reddit.com/submit?url=${postFullUrl}&title=${socialLinkTitle}`}
                  class="bg-zinc-600 p-2 rounded-full flex justify-center items-center mx-2"
                >
                  <RedditIconRound className="h-4 w-4 fill-zinc-50" />
                </a>
                <a
                  href={`mailto:?subject=${socialLinkTitle}&body=${postFullUrl}`}
                  class="bg-zinc-600 p-2 rounded-full flex justify-center items-center mx-2"
                >
                  <MailIconRound className="h-4 w-4 stroke-zinc-50" />
                </a>
              </div>
            </div>
            <Comments
              slug={entry.slug}
              title={entry.data.title}
              client:visible
            />
          </div>
        </article>
      </div>
    </div>
  </Container>
</MainLayout>
