---
import { Image } from "astro:assets"
import { TimeIcon, CalendarIcon } from "../Icons"

import { HeadingFour, Paragraph, Text } from "../Typography"
import Time from "../Time"
import type { PostPreview } from "./types"

interface Props {
  post: PostPreview
}

const { post } = Astro.props
---
<div class="flex flex-col drop-shadow-md rounded-2xl bg-nord-50 dark:bg-nord-700 mb-6">
  <a href={`/post/${post.slug}`}>
    <span
      class={"relative truncate block rounded-t-2xl"}
      style={{ height: 210 }}
    >
      <Image src={post.cover} alt="Cover image" />
    </span>
  </a>
  <div class="flex flex-col p-4 h-full">
    <a href={`/post/${post.slug}`}>
      <HeadingFour className="mb-2">{post.title}</HeadingFour>
    </a>
    <Paragraph className="flex-1 pb-4 text-sm">
      {post.description}
    </Paragraph>
    <div class="flex text-sm font-medium font-md justify-between">
      <div>
        <CalendarIcon className="h-4 w-4 mb-[2px] mr-2 fill-nord-50 dark:fill-nord-700" />
        <Time dateTime={post.date} />
      </div>
      <div>
        {" "}
        <TimeIcon className="h-4 w-4 mb-[2px] mr-2 fill-nord-50 dark:fill-nord-700" />
        <Text>{post.readingTime}</Text>
      </div>
    </div>
  </div>
</div>
